.white-theme-global{
    pre code.hljs {
        display: block;
        overflow-x: auto;
    }

    /* #c5c8c6 */
    .hljs ::selection,
    .hljs::selection {
        background-color: #c5c8c6;
    }

    .ͼo.cm-focused .cm-selectionBackground, 
    .ͼo .cm-selectionBackground, 
    .ͼo .cm-content ::selection {
        background-color: #c5c8c6;
    }

    /* #657b83 */
    .hljs-comment {
        color: #657b83;
    }
    .ͼw {
        color: #657b83;
    }

    /* #839496 */
    .hljs-tag {
        color: #839496;
    }

    /* #373b41 */
    .hljs-operator,
    .hljs-punctuation,
    .hljs-subst {
        color: #373b41;
    }
    .hljs-operator {
        opacity: 0.7;
    }

    /* #cc342b */
    .hljs-bullet,
    .hljs-deletion,
    .hljs-name,
    .hljs-selector-tag,
    .hljs-template-variable,
    .hljs-variable {
        color: #cc342b;
    }

    .ͼr,.ͼt {
        color: #cc342b;
    }

    /* #268bd2 */
    .hljs-attr,
    .hljs-link,
    .hljs-literal,
    .hljs-symbol,
    .hljs-variable.constant_ {
        color: #268bd2;
    }

    .hljs-built_in,
    .hljs-doctag,
    .hljs-keyword.hljs-atrule,
    .hljs-quote,
    .hljs-variable.language_ {
        color: #268bd2;
    }
    .hljs-attribute,
    .hljs-function .hljs-title,
    .hljs-section,
    .hljs-title.function_,
    .hljs-property {
        color: #268bd2;
    }
    .ͼq,.ͼ12 {
        color: #268bd2;
    }

    /* #b58900 */
    .hljs-class .hljs-title,
    .hljs-title,
    .hljs-title.class_ {
        color: #b58900;
    }
    .hljs-strong {
        font-weight: 700;
        color: #b58900;
    }

    /* #198844 */
    .hljs-addition,
    .hljs-code,
    .hljs-string,
    .hljs-title.class_.inherited__ {
        color: #198844;
    }
    .hljs-meta,
    .hljs-meta .hljs-keyword,
    .hljs-meta .hljs-string {
        color: #198844;
    }
    .ͼ13 {
        color: #198844;
    }

    /* #6c71c4 */
    .diff .hljs-meta,
    .hljs-keyword,
    .hljs-template-tag,
    .hljs-type,
    .hljs-regexp {
        color: #6c71c4;
    }
    .hljs-emphasis {
        color: #6c71c4;
        font-style: italic;
    }
    .ͼp,.ͼv {
        color: #6c71c4;
    }

    .hljs-number,.ͼu {
        color: #000000F0;
    }
}
