.white-theme-global pre code.hljs {
    display: block;
    overflow-x: auto;
}

/* #c5c8c6 */
.white-theme-global .hljs ::selection,
.white-theme-global .hljs::selection {
    background-color: #c5c8c6;
}

.white-theme-global .ͼo.cm-focused .cm-selectionBackground, 
.white-theme-global .ͼo .cm-selectionBackground, 
.white-theme-global .ͼo .cm-content ::selection {
    background-color: #c5c8c6;
}

/* #657b83 */
.white-theme-global .hljs-comment {
    color: #657b83;
}
.white-theme-global .ͼw {
    color: #657b83;
}

/* #839496 */
.white-theme-global .hljs-tag {
    color: #839496;
}

/* #373b41 */
.white-theme-global .hljs-operator,
.white-theme-global .hljs-punctuation,
.white-theme-global .hljs-subst {
    color: #373b41;
}
.white-theme-global .hljs-operator {
    opacity: 0.7;
}

/* #cc342b */
.white-theme-global .hljs-bullet,
.white-theme-global .hljs-deletion,
.white-theme-global .hljs-name,
.white-theme-global .hljs-selector-tag,
.white-theme-global .hljs-template-variable,
.white-theme-global .hljs-variable {
    color: #cc342b;
}

.white-theme-global .ͼr, .white-theme-global .ͼt {
    color: #cc342b;
}

/* #268bd2 */
.white-theme-global .hljs-attr,
.white-theme-global .hljs-link,
.white-theme-global .hljs-literal,
.white-theme-global .hljs-symbol,
.white-theme-global .hljs-variable.constant_ {
    color: #268bd2;
}

.white-theme-global .hljs-built_in,
.white-theme-global .hljs-doctag,
.white-theme-global .hljs-keyword.hljs-atrule,
.white-theme-global .hljs-quote,
.white-theme-global .hljs-variable.language_ {
    color: #268bd2;
}
.white-theme-global .hljs-attribute,
.white-theme-global .hljs-function .hljs-title,
.white-theme-global .hljs-section,
.white-theme-global .hljs-title.function_,
.white-theme-global .hljs-property {
    color: #268bd2;
}
.white-theme-global .ͼq, .white-theme-global .ͼ12 {
    color: #268bd2;
}

/* #b58900 */
.white-theme-global .hljs-class .hljs-title,
.white-theme-global .hljs-title,
.white-theme-global .hljs-title.class_ {
    color: #b58900;
}
.white-theme-global .hljs-strong {
    font-weight: 700;
    color: #b58900;
}

/* #198844 */
.white-theme-global .hljs-addition,
.white-theme-global .hljs-code,
.white-theme-global .hljs-string,
.white-theme-global .hljs-title.class_.inherited__ {
    color: #198844;
}
.white-theme-global .hljs-meta,
.white-theme-global .hljs-meta .hljs-keyword,
.white-theme-global .hljs-meta .hljs-string {
    color: #198844;
}
.white-theme-global .ͼ13 {
    color: #198844;
}

/* #6c71c4 */
.white-theme-global .diff .hljs-meta,
.white-theme-global .hljs-keyword,
.white-theme-global .hljs-template-tag,
.white-theme-global .hljs-type,
.white-theme-global .hljs-regexp {
    color: #6c71c4;
}
.white-theme-global .hljs-emphasis {
    color: #6c71c4;
    font-style: italic;
}
.white-theme-global .ͼp,.white-theme-global .ͼv {
    color: #6c71c4;
}

.white-theme-global .hljs-number,.white-theme-global .ͼu {
    color: #000000F0;
}
