figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline-start: 0.5em !important;
    margin-inline-end: 0.5em !important;
    margin-block-start: 2em !important;
    margin-block-end: 2em !important;
}

img[alt=w300] {
    max-width: 300px !important;
}

img[alt=w400] {
    max-width: 400px !important;
}

img[alt=w500] {
    max-width: 500px !important;
}

img[alt=w600] {
    max-width: 600px !important;
}

img[alt=w700] {
    max-width: 700px !important;
}

img[alt=w800] {
    max-width: 800px !important;
}