/* ---------- grey theme for global ---------- */

.grey-theme-global {
    --input-text-color: rgba(255, 255, 255, 0.6);
    --input-placeholder-text-color: rgba(255, 255, 255, 0.4);

    --title-text-color: #D5D5D5;
    --hover-text-color: #D5D5D5;
    --main-text-color: #A0A0A0;
    --main-bg-color: #2D3033;

    --float-panel-bg-color: #2D3033;
    --float-panel-bg-color-no-border: #2D3033;
    --float-panel-border-color: #3A404C;

    --editor-main-text-color: #999183;
    --editor-main-bg-color: #2D3033;
    --editor-htag-text-color: #A9B7C6;

    --render-main-bg-color: #2D3033;
    --render-code-text-color: #A9B7C6;
    --render-code-line-bg-color: #363A3E;
    --render-code-block-bg-color: #212121;
    --render-blockquote-text-color: #A0A0A0;
    --render-link-text-color: #2BAC8F;
    --render-link-hover-bg-color: rgba(90, 214, 186, 0.2);
    --render-list-border-color: #3D4450;
    --render-copy-btn-text-color: #A0A0A0;
    --render-copy-btn-bg-color: #3A404C;
    --render-copy-btn-hover-color: #D5D5D5;

    --bottom-main-bg-color: #2D3033;
    --bottom-text-color: #CDCDCD;
    --bottom-btn-bg-color: #585B62;
    --bottom-btn-border-color: #585B62;

    --sidebar-bg-color: #3C3F42;
    --drag-dashed-color: #FFFFFF4D;
    
    --btn-1-bg-color: #3A404C;
    --tips-1-bg-color: #2F3338;
    --selected-bg-color: #3A404C;
    
    --scroller-color: #C7C7C733;
    --main-border-color: #3A404C;

    --middle-line-width: 1px;
    --large-line-width: 2px;
}

/* ---------- white theme for global ---------- */

.white-theme-global {
    --input-text-color: #808080;
    --input-placeholder-text-color: #808080;

    --title-text-color: #000000;
    --hover-text-color: #000000;
    --main-text-color: #666666;
    --main-bg-color: #FFFFFF;

    --float-panel-bg-color: #F7FAFF;
    --float-panel-bg-color-no-border: #E5EEFFB0;
    --float-panel-border-color: #0059FFB3;

    --editor-main-text-color: #000000;
    --editor-main-bg-color: #F7F7FA;
    --editor-htag-text-color: #A9B7C6;

    --render-main-bg-color: #FAFAFC;
    --render-code-text-color: #000000;
    --render-code-line-bg-color: #E5EEFF80;
    --render-code-block-bg-color: #E5EEFF80;
    --render-blockquote-text-color: #A0A0A0;
    --render-link-text-color: #2BAC8F;
    --render-link-hover-bg-color: rgba(90, 214, 186, 0.2);
    --render-list-border-color: #00000018;
    --render-copy-btn-text-color: #00095EE6;
    --render-copy-btn-bg-color: #DBDCE8;
    --render-copy-btn-hover-color: #000000;

    --bottom-main-bg-color: #FFFFFF;
    --bottom-text-color: #4C4C4C;
    --bottom-btn-bg-color: #FFFFFF;
    --bottom-btn-border-color: #0059FFB3;

    --sidebar-bg-color: #F0F0F2;
    --drag-dashed-color: #FFFFFF4D;
    
    --btn-1-bg-color: #F7F7FA;
    --tips-1-bg-color: #E3F3ED; /*#72c4a4*/
    --selected-bg-color: #E5EEFF;
    
    --scroller-color: #94949666;
    --main-border-color: rgba(0, 0, 0, 0.3);

    --middle-line-width: 1px;
    --large-line-width: 1px;
}