/* ---------- dark theme ---------- */

.dark-theme-global {
    /* text */
    --main-text-color: #A0A0A0;
    --main-text-hover-color: #D5D5D5;
    --main-text-title-color: #D5D5D5;
    --main-text-selected-color: #E9E9E9;

    /* border */
    --main-border-color: #3A404C;
    --main-dashed-border-color: #FFFFFF4D;
    --main-tips-border-color: #3A404C;

    /* background */
    --main-bg-color: #2A2C34;
    --main-folder-and-repo-bg-color: #21242D; /*#21242D;*/
    --main-folder-add-bg-color: #939395;
    --main-btn-bg-color: #3A404C;
    --main-repo-btn-bg-color: #3A404C;
    --main-selected-bg-color: #3A404C;
    --main-scroller-bg-color: #C7C7C733;
    --main-tips-bg-color: #21232C;
    --main-waiting-bg-color: rgba(0,0,0,0.4);

    --second-btn-bg-color: #3A404C;
    --second-selected-bg-color: #3A404C;

    /* editor */
    --editor-main-text-color: #999183;
    --editor-main-bg-color: #2A2C34;
    --editor-htag-text-color: #A9B7C6;
    --editor-line-active-bg-color: #6699FF0B;
    --editor-line-select-bg-color: #3F4859;
    --editor-cursor-color: #528BFF;
    
    /* editor search */
    --editor-search-panel-bg-color: #21252B;
    --editor-search-panel-text-color: #ABB2BF;
    --editor-search-panel-button-border-color: #888888;
    --editor-search-panel-button-bg-start-color: #393939;
    --editor-search-panel-button-bg-end-color: #111111;
    --editor-search-panel-textfield-border-color: #555555;

    /* render */
    --render-main-bg-color: #2A2C34;
    --render-code-text-color: #A9B7C6;
    --render-code-line-bg-color: #363A3E;
    --render-code-block-bg-color: #212121;
    --render-blockquote-text-color: #A0A0A0;
    --render-line-select-bg-color: #3F4859;
    --render-link-text-color: #2BAC8F;
    --render-link-hover-bg-color: rgba(90, 214, 186, 0.2);
    --render-list-border-color: #3D4450;
    --render-copy-btn-text-color: #A0A0A0;
    --render-copy-btn-bg-color: #3A404C;
    --render-copy-btn-hover-color: #D5D5D5;

    /* repo panel */
    --repo-panel-bg-color: #21242D;
    --search-panel-bg-color: #21242D;

    /* side bar */
    --sidebar-bg-color: #3C3F42;

    /* float panel */
    --float-panel-bg-color: #21242D;
    --float-panel-bg-color-no-border: #21242D;
    --float-panel-border-color: #6F7374CC;
    --float-popup-bg-color: #2C3033;
    --float-mask-hide-bg-color: rgba(0, 0, 0, 0);
    --float-mask-show-bg-color: rgba(0, 0, 0, 0.6);
    --waiting-mask-text-color: #A9B7C6;

    /* menu panel */
    --menu-text-color: #CDCDCD;
    --menu-border-color: #585655;
    --menu-bg-color: #2E2A27;
    --menu-hover-color: #3A404C;

    --main-icon-color: #666666;

    --toc-text-color: #A0A0A0;

    /* other */
    --input-text-color: rgba(255, 255, 255, 0.6);
    --input-placeholder-text-color: rgba(255, 255, 255, 0.4);
    --key-tab-bg-color: #3A404C;
}

/* ---------- light theme ---------- */

.light-theme-global {
    /* text */
    --main-text-color: #3F3F3F;
    --main-text-hover-color: #000000;
    --main-text-title-color: #000000;
    --main-text-selected-color: #E9E9E9;

    /* border */
    --main-border-color: rgba(0, 0, 0, 0.2);
    --main-dashed-border-color: rgba(0, 0, 0, 0.3);
    --main-tips-border-color: #0059FF88;

    /* background */
    --main-bg-color: #FFFFFF;
    --main-folder-and-repo-bg-color: #F2F2F2;
    --main-folder-add-bg-color: #939395;
    --main-btn-bg-color: #E5EEFF;
    --main-repo-btn-bg-color: #DADADA;
    --main-selected-bg-color: #E8E8E8;
    --main-scroller-bg-color: #94949666;
    --main-tips-bg-color: #E3F3ED; /*#72c4a4*/
    --main-waiting-bg-color: rgba(0,0,0,0.3);

    --second-btn-bg-color: #DAE7FC;
    --second-selected-bg-color: #DDDDDD;

    /* editor */
    --editor-main-text-color: #050505;
    --editor-main-bg-color: #FAFAFC;
    --editor-htag-text-color: #000000;
    --editor-line-active-bg-color: #6699FF10;
    --editor-line-select-bg-color: #E3F3ED;
    --editor-cursor-color: #528BFF;
    
    /* editor search */
    --editor-search-panel-bg-color: #F7F7F7;
    --editor-search-panel-text-color: #3F3F3F;
    --editor-search-panel-button-border-color: #999999;
    --editor-search-panel-button-bg-start-color: #E3F3ED;
    --editor-search-panel-button-bg-end-color: #E3F3ED;
    --editor-search-panel-textfield-border-color: #999999;

    /* render */
    --render-main-bg-color: #FAFAFC;
    --render-code-text-color: #000000F0;
    --render-code-line-bg-color: #E5EEFF80;
    --render-code-block-bg-color: #E5EEFF80;
    --render-blockquote-text-color: #A0A0A0;
    --render-line-select-bg-color: #E3F3ED;
    --render-link-text-color: #2BAC8F;
    --render-link-hover-bg-color: rgba(90, 214, 186, 0.2);
    --render-list-border-color: #00000018;
    --render-copy-btn-text-color: #00095EE6;
    --render-copy-btn-bg-color: #DBDCE8;
    --render-copy-btn-hover-color: #000000;

    /* repo panel */
    --repo-panel-bg-color: #F2F2F2;
    --search-panel-bg-color: #F2F2F2;

    /* side bar */
    --sidebar-bg-color: #F0F0F2;

    /* float panel */
    --float-panel-bg-color: #F7F7F7;
    --float-panel-bg-color-no-border: #F7F7F7;
    --float-panel-border-color: #C0C0C0;
    --float-popup-bg-color: #F7F7F7;
    --float-mask-hide-bg-color: rgba(0, 0, 0, 0);
    --float-mask-show-bg-color: rgba(0, 0, 0, 0.4);
    --waiting-mask-text-color: #3F3F3F;

    /* menu panel */
    --menu-text-color: #3F3F3F;
    --menu-border-color: #CCCCCC;
    --menu-bg-color: #ECECEC;
    --menu-hover-color: rgba(102, 102, 102, 0.2);

    --main-icon-color: #91B3F3;

    --toc-text-color: #3F3F3F;

    /* other */
    --input-text-color: #3F3F3F;
    --input-placeholder-text-color: #808080;
    --key-tab-bg-color: #F7F7FA;
}