/* ---------- whalenote theme for codemirror ---------- */
.wn-theme-cm {
    height: 100%;
}

.wn-theme-cm .cm-editor {
    height: 100%;
    word-spacing: 0.333em;
    color: var(--editor-main-text-color) !important;
    background-color: var(--editor-main-bg-color) !important;
}

.wn-theme-cm .cm-line {
    font-family: PingFangSC-Regular, sans-serif;
    line-height: 1.6em;
}

.wn-theme-cm .cm-focused {
    outline: none !important;
}

/* ͼ */
.wn-theme-cm .ͼ11 {
    color: var(--editor-main-text-color) !important;
}

.wn-theme-cm .ͼ13 {
    letter-spacing: 0.04em;
    color: var(--editor-htag-text-color) !important;
}

/* gutter */
.wn-theme-cm .cm-gutters {
    
    background-color: #2F3338;
}

.wn-theme-cm .cm-gutter {
    line-height: 1.6em;
}

.wn-theme-cm .cm-foldGutter {
    width: 0.933em;
    padding: 0 0.266em 0 0;
}

.wn-theme-cm .cm-foldGutter .cm-gutterElement {
    font-size: 1em;
    transform: translateY(-4px);
}

.wn-theme-cm .cm-lineNumbers .cm-gutterElement {
    min-width: 1.6em !important;
}

/* scroller */
.editor-smooth .cm-scroller {
    scroll-behavior: smooth;
}

.editor-auto .cm-scroller {
    scroll-behavior: auto;
}

.wn-theme-cm .cm-scroller::-webkit-scrollbar {
    width: 8px;
}

.wn-theme-cm .cm-scroller::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--main-scroller-bg-color);
}

.wn-theme-cm .cm-scroller::-webkit-scrollbar-track {
    background-color: inherit !important;
}

/* search */
.wn-theme-cm .cm-panel.cm-search {
    padding: 5px 5px !important;
}

.wn-theme-cm .cm-panel.cm-search button {
    margin: 0em 0.6em 0em 0 !important;
}

.wn-theme-cm .cm-panel.cm-search label {
    display: inline-flex;
    align-items: center;
    margin: 0em 0.6em 0em 0 !important;
}

.wn-theme-cm .cm-panels.cm-panels-bottom {
    border-top: none !important;
}

.wn-theme-cm .cm-textfield {
    outline: none !important;
}