/* ---------- whalesnote theme for global ---------- */
body {
    margin: 0;
    font-family: BlinkMacSystemFont, PingFang SC, Helvetica, Tahoma, Arial, "Microsoft YaHei", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}

.repo-item-sort {
    position: relative;
    display: flex;
    width: calc(20% - 10px);
    height: 28px;
    line-height: 28px;
    margin: 0 5px 4px 5px;
    color: var(--main-text-color);
    cursor: pointer;
}

.repo-name-input {
    width: 120px;
    height: 28px;
    line-height: 28px;
    border: none;
    outline: none;
    flex: 1;
    font-size: 15px;
    margin: 0 0 0 5px;
    padding: 0 0 0 10px;
    border-bottom: 2px solid var(--main-border-color);
    color: var(--main-text-color);
    background-color: var(--float-panel-bg-color) !important;
}

.repo-name-input::-webkit-input-placeholder {
    font-size: 14px;
    color: var(--input-placeholder-text-color);
}

.folder-name-input {
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 5px 16px 0 8px;
    border: none;
    outline: none;
    flex: 1;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 2px solid var(--main-border-color);
    background-color: var(--float-panel-bg-color) !important;
    color: var(--main-text-color);
}

.folder-name-input::-webkit-input-placeholder {
    font-size: 14px;
    color: var(--input-placeholder-text-color);
}

.item-selected:before {
    position: absolute;
    top: -0.2px;
    right: -19.5px;
    display: block;
    height: 30.4px;
    content: "";
    border-width: 9.5px 10px;
    border-style: solid;
    border-color: transparent transparent transparent var(--second-selected-bg-color);
    cursor: pointer;
}

.show-alert-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    animation: show-alert-mask-ani ease-out 0.6s forwards;
}

@keyframes show-alert-mask-ani {
    0% {
        background-color: var(--float-mask-hide-bg-color);
    }

    100% {
        background-color: var(--float-mask-show-bg-color);
    }
}

.hide-alert-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    animation: hide-alert-mask-ani ease-out 0.4s forwards;
}

@keyframes hide-alert-mask-ani {
    0% {
        background-color: var(--float-mask-show-bg-color);
    }

    100% {
        background-color: var(--float-mask-hide-bg-color);
    }
}

button {
    color: #e8e6e3 !important;
}


figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline-start: 0.5em !important;
    margin-inline-end: 0.5em !important;
    margin-block-start: 2em !important;
    margin-block-end: 2em !important;
}

