/* ---------- grey theme for global ---------- */

.grey-theme-global {
    
    --title-text-color: #D5D5D5;
    --input-text-color: rgba(255, 255, 255, 0.6);
    --input-placeholder-text-color: rgba(255, 255, 255, 0.4);
    --hover-text-color: #D5D5D5;

    --main-text-color: #A0A0A0;
    --main-bg-color: #2D3033;

    --codemirror-bg-color: #313437;
    --editor-main-text-color: #999183;

    --bottom-bg-color: #3C3F42;
    --bottom-text-color: rgb(205, 205, 205);
    --bottom-btn-bg-color: #585B62;

    --sidebar-bg-color: #45474D;
    
    --btn-1-bg-color: #3A404C;
    --tips-1-bg-color: #2F3338;
    --selected-bg-color: #3A404C;
    
    --scroller-color: #C7C7C733;
    --border-1-color: #3A404C;
}

/* ---------- grey theme for codemirror ---------- */

/* editor */

.grey-theme-cm .cm-editor {
    /* color: #a9b7c6; */
    color: var(--editor-main-text-color) !important;
    background-color: var(--main-bg-color) !important;
}

/* ͼ */

.grey-theme-cm .ͼ11 {
    color: var(--editor-main-text-color) !important;
}

.grey-theme-cm .ͼ13 {
    /* color: #999999; */
    color: #A9B7C6 !important;
}

/* gutter */

.grey-theme-cm .cm-gutter {
    background-color: rgb(62, 62, 62);
}

.grey-theme-cm .cm-foldGutter {
    border-right: 1px solid rgb(110, 110, 110);
}

.grey-theme-cm .cm-activeLineGutter {
    background-color: rgb(62, 62, 62) !important;
}

/* scroller */

.grey-theme-cm .cm-scroller::-webkit-scrollbar-thumb {
    background-color: var(--scroller-color);
}

.grey-theme-cm .cm-scroller::-webkit-scrollbar-track {
    background-color: inherit !important;
}


/* ---------- grey theme for render ---------- */

.grey-theme-rd {
    color: var(--editor-main-text-color) !important;
    background: #2c3033 !important;
}


/* render */

.grey-theme-rd code {
    color: #A9B7C6 !important;
    border-color: #3D4450 !important;
    background-color: #363a3e !important;
}

.grey-theme-rd pre code {
    background-color: #212121 !important;
}

.grey-theme-rd pre code.hljs::-webkit-scrollbar-thumb {
    background-color: var(--scroller-color);
}

.grey-theme-rd h2 {
    border-bottom: solid 1.5px #999183;
}

.grey-theme-rd blockquote::before {
    color: #7f8c8d;
}

.grey-theme-rd blockquote p {
    color: #7f8c8d;
}

.grey-theme-rd hr {
    border-bottom: solid 1px #999183;
}

.grey-theme-rd a {
    color: #2bac8f;
}

.grey-theme-rd a:hover {
    background-color: rgba(90, 214, 186, 0.2) !important;
}

/* ul */
.grey-theme-rd ul > li > ul {
    border-left: 5px solid #3d4450;
}

.grey-theme-rd ul > li > ul > li > ul {
    border-left: 4px solid #3d4450;
}

.grey-theme-rd ul > li > ul > li > ul > li > ul {
    border-left: 3px solid #3d4450;
}

/* ol + ul */
.grey-theme-rd ol > li > ul {
    border-left: 5px solid #3d4450;
}

.grey-theme-rd ol > li > ul > li > ul {
    border-left: 4px solid #3d4450;
}

.grey-theme-rd ol > li > ul > li > ul > li > ul {
    border-left: 3px solid #3d4450;
}

/* scroller */

.grey-theme-rd::-webkit-scrollbar-thumb {
    background-color: var(--scroller-color);
}

.grey-theme-rd::-webkit-scrollbar-track {
    background-color: inherit !important;
}

.grey-theme-rd pre code.hljs::-webkit-scrollbar-track {
    background-color: inherit !important;
}

/* TOC */

#renderTocId a{
    color: var(--editor-main-text-color) !important;
}

.toc-scroller::-webkit-scrollbar-thumb {
    background-color: var(--scroller-color);
}

.toc-scroller::-webkit-scrollbar-track {
    background-color: inherit !important;
}



.copy-btn-color {
    color: var(--main-text-color) !important;
    background-color: var(--btn-1-bg-color) !important;
}

.copy-btn-color:hover{
    color: var(--hover-text-color) !important;
}