/* ---------- grey theme for global ---------- */

.grey-theme-global {
    --input-text-color: rgba(255, 255, 255, 0.6);
    --input-placeholder-text-color: rgba(255, 255, 255, 0.4);

    --title-text-color: #D5D5D5;
    --hover-text-color: #D5D5D5;
    --main-text-color: #A0A0A0;
    --main-bg-color: #2D3033;

    --editor-main-text-color: #999183;
    --editor-htag-text-color: #A9B7C6;

    --render-code-text-color: #A9B7C6;
    --render-code-line-bg-color: #363A3E;
    --render-code-block-bg-color: #212121;
    --render-blockquote-text-color: #A0A0A0;
    --render-link-text-color: #2BAC8F;
    --render-link-hover-bg-color: rgba(90, 214, 186, 0.2);
    --render-list-border-color: #3D4450;
    --render-copy-btn-text-color: #A0A0A0;
    --render-copy-btn-bg-color: #3A404C;
    --render-copy-btn-hover-bg-color: #D5D5D5;

    --bottom-text-color: #CDCDCD;
    --bottom-btn-bg-color: #585B62;

    --sidebar-bg-color: #3C3F42;
    --drag-dashed-color: rgba(255, 255, 255, 0.3);
    
    --btn-1-bg-color: #3A404C;
    --tips-1-bg-color: #2F3338;
    --selected-bg-color: #3A404C;
    
    --scroller-color: #C7C7C733;
    --border-1-color: #3A404C;
}

/* ---------- grey theme for codemirror ---------- */

/* editor */
.grey-theme-cm .cm-editor {
    color: var(--editor-main-text-color) !important;
    background-color: var(--main-bg-color) !important;
}

/* ͼ */
.grey-theme-cm .ͼ11 {
    color: var(--editor-main-text-color) !important;
}

.grey-theme-cm .ͼ13 {
    color: var(--editor-htag-text-color) !important;
}

/* scroller */
.grey-theme-cm .cm-scroller::-webkit-scrollbar-thumb {
    background-color: var(--scroller-color);
}

.grey-theme-cm .cm-scroller::-webkit-scrollbar-track {
    background-color: inherit !important;
}


/* ---------- grey theme for render ---------- */

.grey-theme-rd {
    color: var(--editor-main-text-color) !important;
    background: var(--main-bg-color) !important;
}


/* render */
.grey-theme-rd code {
    color: var(--render-code-text-color) !important;
    background-color: var(--render-code-line-bg-color) !important;
}

.grey-theme-rd pre code {
    background-color: var(--render-code-block-bg-color) !important;
}

.grey-theme-rd pre code.hljs::-webkit-scrollbar-thumb {
    background-color: var(--scroller-color);
}

.grey-theme-rd h2 {
    border-bottom: solid 1.5px var(--editor-main-text-color);
}

.grey-theme-rd blockquote::before {
    color: var(--main-text-color);
}

.grey-theme-rd blockquote p {
    color: var(--main-text-color);
}

.grey-theme-rd hr {
    border-bottom: solid 1px var(--editor-main-text-color);
}

.grey-theme-rd a {
    color: var(--render-link-text-color);
}

.grey-theme-rd a:hover {
    background-color: var(--render-link-hover-bg-color) !important;
}

/* ul */
.grey-theme-rd ul > li > ul {
    border-left: 5px solid var(--render-list-border-color);
}

.grey-theme-rd ul > li > ul > li > ul {
    border-left: 4px solid var(--render-list-border-color);
}

.grey-theme-rd ul > li > ul > li > ul > li > ul {
    border-left: 3px solid var(--render-list-border-color);
}

/* ol + ul */
.grey-theme-rd ol > li > ul {
    border-left: 5px solid var(--render-list-border-color);
}

.grey-theme-rd ol > li > ul > li > ul {
    border-left: 4px solid var(--render-list-border-color);
}

.grey-theme-rd ol > li > ul > li > ul > li > ul {
    border-left: 3px solid var(--render-list-border-color);
}

/* scroller */

.grey-theme-rd::-webkit-scrollbar-thumb {
    background-color: var(--scroller-color);
}

.grey-theme-rd::-webkit-scrollbar-track {
    background-color: inherit !important;
}

.grey-theme-rd pre code.hljs::-webkit-scrollbar-track {
    background-color: inherit !important;
}

/* TOC */

#renderTocId a{
    color: var(--editor-main-text-color) !important;
}

.toc-scroller::-webkit-scrollbar-thumb {
    background-color: var(--scroller-color);
}

.toc-scroller::-webkit-scrollbar-track {
    background-color: inherit !important;
}

/* copy btn */

.copy-btn-color {
    color: var(--render-copy-btn-text-color) !important;
    background-color: var(--render-copy-btn-bg-color) !important;
}

.copy-btn-color:hover{
    color: var(--render-copy-btn-hover-bg-color) !important;
}