.cm-editor {
  color: #999183;
  background-color: inherit !important;
  word-spacing: 5px;
}

.cm-gutters {
  background-color: inherit !important;
}

.cm-focused {
  outline: none !important;
}

.cm-line {
  font-size: 15px;
  font-family: "Luca", "helvetica", "arial", "sans-serif";
}

.cm-scroller::-webkit-scrollbar {
  width: 9px;
}
.cm-scroller::-webkit-scrollbar-track {
  background-color: inherit !important;
}
.cm-scroller::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 78%, 0.2);
  border-radius: 3px;
}
