.cm-theme-dark {
  height: 100%;
  background-color: #2c3033;
  border: 1px solid rgba(58, 64, 76, 0.8);
  border-radius: 8px;
}

/* #a9b7c6    #999183*/

/* render color in dark theme  */

.rd-theme-dark {
  color: #999183 !important;
  background: #2c3033 !important;
  border: 1px solid rgb(58, 62, 65) !important;
}

.rd-theme-dark code {
  color: #999183;
  border-color: #3d4450;
  background-color: #363a3e;
}

.rd-theme-dark pre {
  background: #212121 !important;
}

.rd-theme-dark h2 {
  border-bottom: solid 1.5px #999183;
}

.rd-theme-dark blockquote::before {
  color: #7f8c8d;
}

.rd-theme-dark blockquote p {
  color: #7f8c8d;
}

.rd-theme-dark hr {
  border-bottom: solid 1px #999183;
}

.rd-theme-dark a {
  color: #2bac8f;
}

.rd-theme-dark a:hover {
  background-color: rgba(90, 214, 186, 0.2) !important;
}

.rd-theme-dark ul > li > ul {
  border-left: 5px solid #3d4450;
}

.rd-theme-dark ul > li > ul > li > ul {
  border-left: 4px solid #3d4450;
}

.rd-theme-dark ul > li > ul > li > ul > li > ul {
  border-left: 3px solid #3d4450;
}
