body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2c3033;
  user-select: none;
}

.repoItemSort {
  position: relative;
  display: flex;
  width: calc(20% - 20px);
  height: 28px;
  line-height: 28px;
  margin: 0 10px 4px 10px;
  color: #939395;
  cursor: pointer;
}

.repoItem .repoItemContent {
  transition: all 0.5s linear;
  visibility: hidden;
  opacity: 0;
  transition-delay: 0.25s;
}

.repoItem:hover .repoItemContent {
  visibility: visible;
  opacity: 1;
  transition-duration: 0.05s;
  transition-delay: 0.15s;
}

.repoNameInput {
  width: 120px;
  height: 29px;
  line-height: 29px;
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  border-bottom: 1px solid #939395;
  margin-bottom: 10px;
}

.folderNameInput {
  width: 100%;
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  border-bottom: 1px solid #939395;
}

.lastScrollPos {
  position: absolute;
  left: 15px;
  bottom: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  padding: 0 12px 0 6px;
  z-index: 9;
  color: #939395;
  background-color: #3a404c;
  cursor: pointer;
}

.lastScrollPos:before {
  border: 15px dashed transparent;
  border-right: 15px solid #3a404c;
  content: "";
  font-size: 0;
  height: 0;
  left: -15px;
  transform: translateX(-50%);
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 0;
}

.scroll-hidden {
  visibility: hidden;
}

.show-alert-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  animation: show-alert-mask-ani ease-out 0.8s forwards;
}

@keyframes show-alert-mask-ani {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.hide-alert-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  animation: hide-alert-mask-ani ease-out 0.5s forwards;
}

@keyframes hide-alert-mask-ani {
  0% {
    background-color: rgba(0, 0, 0, 0.6);
  }

  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

button {
  color: #e8e6e3 !important;
}

input {
  color: #a9b7c6 !important;
  background-color: #2c3033 !important;
}

.EasyMDEContainer {
  background: #2c3033;
}

/* .CodeMirror */

.CodeMirror {
  overflow: hidden;
  padding-top: 60px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #2c3033 !important;
  border: 1px solid rgb(58, 62, 65) !important;
  border-top-right-radius: 0px !important;
  color: #a9b7c6 !important;
  font-family: Luca, Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro,
    monospace !important;
}

.CodeMirror .cm-header-1 {
  font-size: 28px !important;
  line-height: 40px !important;
}

.CodeMirror .cm-header-2 {
  font-size: 22px !important;
  line-height: 30px !important;
}

.CodeMirror .cm-header-3 {
  font-size: 18px !important;
  line-height: 26px !important;
}

.CodeMirror .cm-header-4 {
  font-size: 16px !important;
  line-height: 22px !important;
}

/* .CodeMirror-xxx */

.CodeMirror-scroll {
  min-height: 100px;
  border-radius: 0.5rem;
}

.CodeMirror-cursor {
  border-left: 1px solid #a9b7c6 !important;
}

.CodeMirror-line {
  letter-spacing: 0.6px;
}

.CodeMirror-selected {
  background-color: #272727 !important;
}

.CodeMirror-overlayscroll-vertical {
  width: 8px !important;
}

.CodeMirror-overlayscroll-vertical div {
  background: rgba(200, 200, 200, 0.2) !important;
}

/* .editor-toolbar */

.editor-toolbar {
  border: none;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background: #2c3033;
  opacity: 1;
  margin-left: 1px;
  margin-right: 1px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  overflow: hidden;
  border: 1px solid rgb(58, 62, 65) !important;
  padding: 5px 10px !important;
}

.editor-toolbar.fullscreen {
  background: #2c3033 !important;
}

.editor-toolbar i.separator {
  border-left-color: rgb(59, 64, 66) !important;
  border-right-color: rgb(48, 52, 54) !important;
  color: transparent;
}

.editor-toolbar button.active,
.editor-toolbar button:hover {
  background-image: initial;
  background-color: rgb(26, 28, 29) !important;
  border-color: rgb(76, 82, 85) !important;
}

.editor-toolbar a.active,
.editor-toolbar a:hover {
  background-color: none !important;
}
.editor-toolbar a,
.editor-toolbar button {
  margin-right: 10px;
}

.editor-toolbar.disabled-for-preview button:not(.no-disable) {
  opacity: 0.2;
}

.editor-toolbar button.heading-2:after {
  content: "";
}

.editor-toolbar:after,
.editor-toolbar:before {
  display: block;
  content: "";
  height: 0;
}

.editor-toolbar:hover {
  opacity: 1;
}

/* .editor-preview */

.editor-preview {
  font-family: Luca, Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro,
    monospace !important;
  top: 50px;
  color: #a9b7c6 !important;
  background: #2c3033 !important;
  border: 1px solid rgb(58, 62, 65) !important;
  user-select: text;
}

.editor-preview::-webkit-scrollbar {
  display: none;
}

.editor-preview code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: #a9b7c6;
  border-color: #3d4450;
  border: none;
  border-radius: 5px;
  background-color: #363a3e;
  margin: 0 5px;
  padding: 1px 5px;
  font-size: 0.9em;
}

.editor-preview pre {
  background: #212121 !important;
  border-radius: 8px !important;
}

.editor-preview p {
  margin: 1.2em 0;
}

.editor-preview pre code {
  font-size: 1em;
}

.editor-preview pre code.hljs::-webkit-scrollbar {
  display: none;
}

.editor-preview h1 {
  font-size: 28px !important;
  line-height: 40px !important;
}

.editor-preview h2 {
  font-size: 22px !important;
  line-height: 30px !important;
  margin-block-start: 1.5em !important;
  margin-block-end: 1em !important;
  border-bottom: solid 1.5px #a9b7c6;
  padding-bottom: 0.1em !important;
}

.editor-preview h3 {
  font-size: 18px !important;
  line-height: 26px !important;
  margin-block-start: 2em !important;
  margin-block-end: 1em !important;
}

.editor-preview h4 {
  font-size: 16px !important;
  line-height: 22px !important;
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
}

.editor-preview blockquote {
  margin-left: 1.3em !important;
}

.editor-preview blockquote::before {
  display: inline;
  color: #7f8c8d;
  content: "▲";
  margin-right: -0.5em;
  margin-left: -1.1em;
}

.editor-preview blockquote p {
  display: inline;
  color: #7f8c8d;
  font-style: italic;
}

.editor-preview hr {
  border-top: none;
  border-bottom: solid 1px #a9b7c6;
  margin: 2em 0;
}

.editor-preview img {
  width: 100%;
  margin-bottom: 1em;
}

.editor-preview a {
  color: #2bac8f;
  text-decoration: auto;
}

.editor-preview a:hover {
  background-color: rgba(90, 214, 186, 0.2) !important;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.editor-preview ul {
  list-style-type: decimal;
  margin-left: -0.5em !important;
}

.editor-preview ul li {
  margin: 1.5em 0 0 0 !important;
}

.editor-preview ul > li > ul {
  margin-bottom: 1em !important;
  margin-top: 0.8em;
  padding-top: 0.3em;
  border-left: 5px solid #3d4450;
  list-style-type: none;
}

.editor-preview ul > li > ul > li {
  margin: 0.7em 0 1.8em -0.7em !important;
}

.editor-preview ul > li > ul > li > p {
  margin: 0 0 !important;
}

.editor-preview ul > li > ul > li > ul {
  border-left: 4px solid #3d4450;
  margin-top: 0.8em;
  padding-top: 0.3em;
  list-style-type: none;
}

.editor-preview ul > li > ul > li > ul > li {
  margin: 0 0 0.5em -0.7em !important;
}

.editor-preview ul > li > ul > li > ul > li > ul {
  border-left: 3px solid #3d4450;
}

/* .editor-statusbar */

.editor-statusbar {
  user-select: text;
}

.editor-statusbar .autosave {
  display: none;
}

.editor-statusbar .lines {
  display: none;
}

.editor-statusbar .words:before {
  content: "统计字数: " !important;
}

.editor-statusbar .cursor:before {
  content: "光标位置: " !important;
  margin-left: 6px;
}

.button-bold:before,
.button-heading-2:before,
.button-italic:before,
.button-strike:before,
.button-code:before,
.button-link:before,
.button-unordered-list:before,
.button-ordered-list:before,
.button-image:before,
.button-preview:before,
.button-quote:before,
.button-columns:before,
.button-fullscreen:before,
.button-clean-block::before {
  content: "";
  display: flex;
  width: 24px;
  height: 24px;
  background-size: 20px;
  background-position: 3px 2px;
  background-repeat: no-repeat;
}

.button-clean-block::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-eraser' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M19 19h-11l-4 -4a1 1 0 0 1 0 -1.41l10 -10a1 1 0 0 1 1.41 0l5 5a1 1 0 0 1 0 1.41l-9 9' /%3E%3Cpath d='M18 12.3l-6.3 -6.3' /%3E%3C/svg%3E");
}

.button-preview:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-eye' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z'/%3E%3Ccircle cx='12' cy='12' r='2' /%3E%3Cpath d='M2 12l1.5 2a11 11 0 0 0 17 0l1.5 -2' /%3E%3Cpath d='M2 12l1.5 -2a11 11 0 0 1 17 0l1.5 2' /%3E%3C/svg%3E");
}

.button-bold:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-bold' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M7 5h6a3.5 3.5 0 0 1 0 7h-6z' /%3E%3Cpath d='M13 12h1a3.5 3.5 0 0 1 0 7h-7v-7' /%3E%3C/svg%3E");
}

.button-italic:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-italic' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z'/%3E%3Cline x1='11' y1='5' x2='17' y2='5' /%3E%3Cline x1='7' y1='19' x2='13' y2='19' /%3E%3Cline x1='14' y1='5' x2='10' y2='19' /%3E%3C/svg%3E");
}
.button-strike:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-strikethrough' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z'/%3E%3Cline x1='5' y1='12' x2='19' y2='12' /%3E%3Cpath d='M16 6.5a4 2 0 0 0 -4 -1.5h-1a3.5 3.5 0 0 0 0 7' /%3E%3Cpath d='M16.5 16a3.5 3.5 0 0 1 -3.5 3h-1.5a4 2 0 0 1 -4 -1.5' /%3E%3C/svg%3E");
}

.button-code:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-code' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z'/%3E%3Cpolyline points='7 8 3 12 7 16' /%3E%3Cpolyline points='17 8 21 12 17 16' /%3E%3Cline x1='14' y1='4' x2='10' y2='20' /%3E%3C/svg%3E");
}

.button-link:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-link' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5' /%3E%3Cpath d='M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5' /%3E%3C/svg%3E");
}

.button-unordered-list:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-list' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z'/%3E%3Cline x1='9' y1='6' x2='20' y2='6' /%3E%3Cline x1='9' y1='12' x2='20' y2='12' /%3E%3Cline x1='9' y1='18' x2='20' y2='18' /%3E%3Cline x1='5' y1='6' x2='5' y2='6.01' /%3E%3Cline x1='5' y1='12' x2='5' y2='12.01' /%3E%3Cline x1='5' y1='18' x2='5' y2='18.01' /%3E%3C/svg%3E");
}

.button-image:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-photo' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z'/%3E%3Cline x1='15' y1='8' x2='15.01' y2='8' /%3E%3Crect x='4' y='4' width='16' height='16' rx='3' /%3E%3Cpath d='M4 15l4 -4a3 5 0 0 1 3 0l 5 5' /%3E%3Cpath d='M14 14l1 -1a3 5 0 0 1 3 0l 2 2' /%3E%3C/svg%3E");
}

.button-quote:before {
  background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-blockquote-left' fill='%232c3e50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm5 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z'/%3E%3Cpath d='M3.734 6.352a6.586 6.586 0 0 0-.445.275 1.94 1.94 0 0 0-.346.299 1.38 1.38 0 0 0-.252.369c-.058.129-.1.295-.123.498h.282c.242 0 .431.06.568.182.14.117.21.29.21.521a.697.697 0 0 1-.187.463c-.12.14-.289.21-.503.21-.336 0-.577-.108-.721-.327C2.072 8.619 2 8.328 2 7.969c0-.254.055-.485.164-.692.11-.21.242-.398.398-.562.16-.168.33-.31.51-.428.18-.117.33-.213.451-.287l.211.352zm2.168 0a6.588 6.588 0 0 0-.445.275 1.94 1.94 0 0 0-.346.299c-.113.12-.199.246-.257.375a1.75 1.75 0 0 0-.118.492h.282c.242 0 .431.06.568.182.14.117.21.29.21.521a.697.697 0 0 1-.187.463c-.12.14-.289.21-.504.21-.335 0-.576-.108-.72-.327-.145-.223-.217-.514-.217-.873 0-.254.055-.485.164-.692.11-.21.242-.398.398-.562.16-.168.33-.31.51-.428.18-.117.33-.213.451-.287l.211.352z'/%3E%3C/svg%3E");
}
.button-ordered-list:before {
  background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-list-ol' fill='%232c3e50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z'/%3E%3Cpath d='M1.713 11.865v-.474H2c.217 0 .363-.137.363-.317 0-.185-.158-.31-.361-.31-.223 0-.367.152-.373.31h-.59c.016-.467.373-.787.986-.787.588-.002.954.291.957.703a.595.595 0 0 1-.492.594v.033a.615.615 0 0 1 .569.631c.003.533-.502.8-1.051.8-.656 0-1-.37-1.008-.794h.582c.008.178.186.306.422.309.254 0 .424-.145.422-.35-.002-.195-.155-.348-.414-.348h-.3zm-.004-4.699h-.604v-.035c0-.408.295-.844.958-.844.583 0 .96.326.96.756 0 .389-.257.617-.476.848l-.537.572v.03h1.054V9H1.143v-.395l.957-.99c.138-.142.293-.304.293-.508 0-.18-.147-.32-.342-.32a.33.33 0 0 0-.342.338v.041zM2.564 5h-.635V2.924h-.031l-.598.42v-.567l.629-.443h.635V5z'/%3E%3C/svg%3E");
}

.button-heading-2:before {
  background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-type-h2' fill='%232c3e50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.638 13V3.669H6.38V7.62H1.759V3.67H.5V13h1.258V8.728h4.62V13h1.259zm3.022-6.733v-.048c0-.889.63-1.668 1.716-1.668.957 0 1.675.608 1.675 1.572 0 .855-.554 1.504-1.067 2.085l-3.513 3.999V13H15.5v-1.094h-4.245v-.075l2.481-2.844c.875-.998 1.586-1.784 1.586-2.953 0-1.463-1.155-2.556-2.919-2.556-1.941 0-2.966 1.326-2.966 2.74v.049h1.223z'/%3E%3C/svg%3E");
}

.button-columns:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-layout-columns' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z'/%3E%3Crect x='4' y='4' width='16' height='16' rx='2' /%3E%3Cline x1='12' y1='4' x2='12' y2='20' /%3E%3C/svg%3E");
}

.button-fullscreen:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-maximize' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M4 8v-2a2 2 0 0 1 2 -2h2' /%3E%3Cpath d='M4 16v2a2 2 0 0 0 2 2h2' /%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v2' /%3E%3Cpath d='M16 20h2a2 2 0 0 0 2 -2v-2' /%3E%3C/svg%3E");
}

.editor-preview-active pre {
  border-radius: 0.5rem;
  padding: 10px;
}

.hljs {
  color: #93a1a1 !important;
  background: #212121 !important;
}
